
.container {
    width: 500px;
    height: 300px;
    /* background-image: url(image.png); */
    background-color: #4b4c54;
    
}

.container svg {
    --mask-color: white;
}

.container svg mask rect.col {
    fill: var(--mask-color);
}

.roberto {
    background-color: aqua;
    transition: scale 0.5s ease-in-out;
}

.roberto:hover {
    background-color: blueviolet;
    transform: scale(1.5);
    transition: scale 0.5s ease-in-out;
}
