<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search</title>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/search.css">
    </head>
    <body>

        <div class="pl-header-container">

        </div>

        <div class="main-container">
            <div class="search-result-text-container">
                <span class="search-result-text"></span>
            </div>
        </div>

        <div class="pl-footer-container">

        </div>



        <script>
            let search = '<%= query %>';
        </script>
        <script type="module" src="/js/search.js"></script>
    </body>
</html>
