<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search</title>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/search.css">
    </head>
    <body>

        <div class="header-container">

        </div>

        <div class="main-container">

        </div>

        <div class="footer-container">

        </div>



        <script>
            let search = '<%= query %>';
        </script>
        <script src="/library/render_utils.js"></script>
        <script src="/library/web_utils.js"></script>
        <script src="/js/search.js"></script>
    </body>
</html>
